.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*begin my custom stuff*/

.maintitle {
	color:gray;
	font-size: 3em;
	padding: 15px;
}

.rating {
	color: blue;
}

a.title {
	color:black;
}

a.title:hover {
	text-decoration: none;
}

body {
	background-color:white;
}